body, html {
    height: 100%;
  }
  
body{
  /*background: #686868;*/
  color:black;
  margin: 0em;
  padding: 0;
}
.header.opciones{
  margin-top: 0;
}
.intro{
  /*margin: 0.1em;
  background: red;

  border: 50px;
  padding: 50px;*/
  background-color: #d8ecf7;
  border: 20px solid #afcde3;
  margin:40px;
}
.opciones {
  display: flex;
  justify-content: space-between;
  margin: 0em;        /*  se agrega margen para separar 
  logo tanto de borde superior como 
  borde izquierdo*/
  margin-left: 4em;
  margin-right: 4em;

}
.logo{
  width: 2.5em;

}
.opciones_menu{
  display: flex;
  flex-direction: row;
  list-style-type:none;
  
}
nav{
  display: flex;
  justify-items: space-between;

}
a{
  padding: 0.5em;

}
.opciones_menu li a {
  color: black;
  text-decoration: none;
}
.contenedor{
  text-decoration: none;
  background-color:#64c1ff;
  border: 2px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 0px;
  padding: 0px;
}
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url(https://static.iris.net.co/semana/upload/images/2019/6/6/618568_1.jpg);
  
    /* Control the height of the image */
    min-height: 100%;
    margin: -7px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #a1a1a1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  padding-right: 50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}